@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding:0;
}

    $light: #fff;
    $gray: #c4ccde;
.flex{
   display: flex;
}
.navbar{
    background-color:$light;
    padding: 1rem 2rem;
    border-bottom: 1px solid $gray;
    }
.sidebar{
    width: 14rem;
    height: calc(100vh - 52px);
    border-right: 1px solid $gray;
    ul{
        list-style: none;
        padding: 1rem 2rem;
        li{
            margin-bottom: 1rem;
        }
        a{
            text-decoration: none;
        }
    }
}
